/* grande boite qui contient le tableau */
.grande_boite_stats{
    border: green solid 5px;
    height: 600px;
    display: flex;   
}

/* premiere boite sur la gauche qui contient limage  */
.grande_boite_image1{
    border: solid 2px;
    width: 40%;
}

/* tableau taille */
table{
    width: 60%;
}


/* case 1 coter droite contient parti jouer*/
.boite1{
    background-color: blue;
    width: 40%;
    height: 150px;
    text-align: center;
}
/* case 2 coter droite contient joueurs conecter */
.boite2{
    background-color: green;
    width: 40%;
    height: 150px;
    text-align: center;
}
/* case 3 coter droite contient record */
.boite3{
    background-color: pink;
    width: 40%;
    height: 150px;
    text-align: center;
}
/* case 4 coter droit contient joueur inscrit */
.boite4{
    background-color: orange;
    width: 40%;
    height: 150px;
    text-align: center;
}